@import '../../stylesheets/base';

.dashboard {
    position: relative;
    flex-grow: 1;
    overflow-y: auto;

    .body {
        display: flex;
        flex-direction: column;
        padding: 16px;

        .summary {
            display: flex;
            align-items: center;
            flex-direction: column;
            flex-grow: 1;
            justify-content: center;

            .rings {
                width: 200px;

                .income {
                    stroke: $color-success;
                }

                .expense {
                    stroke: $color-danger;
                }
            }

            .table {
                display: table;
                border-collapse: separate;
                border-spacing: 16px 0px;

                .income,
                .expense {
                    display: table-row;

                    .label {
                        display: table-cell;
                    }

                    .amount {
                        display: table-cell;
                        text-align: right;
                        font-family: $font-family-monospace;
                    }
                }

                .income {
                    color: $color-success;
                }

                .expense {
                    color: $color-danger;
                }
            }
        }

        .estimations {
            margin-top: 48px;
            color: rgba(0, 0, 0, 0.7);
            font-size: 14px;

            .planned {
                :global .rect {
                    background-color: $color-success;
                }
            }

            .actual {
                :global .rect {
                    background-color: $color-danger;
                }
            }
        }
    }
}
