@import '../../stylesheets/base';

.dashboard {
    position: relative;
    flex-grow: 1;
    overflow-y: auto;

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 16px;
        height: 56px;

        h1 {
            font-size: 24px;
            font-weight: 200;
        }
    }

    .body {
        display: flex;
        flex-direction: column;
        padding: 16px;

        .summary {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            margin-bottom: 18px;

            span:first-child {
                font-size: 18px;
            }

            span:last-child {
                font-family: $font-monospace;
                font-size: 32px;
            }
        }
    }
}
