$font-normal: 'Source Sans Pro', sans-serif;
$font-monospace: 'Inconsolata', monospace;

$color-primary: #000000;
$color-accent: #e74c3c;
$color-info: #e74c3c;
$color-success: #e74c3c;
$color-danger: #f39c12;
$color-warning: #e0b652;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $font-normal;
}
