@import '../../stylesheets/base';

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.16);
    height: 48px;

    h1 {
        padding: 0 16px;
        font-size: 18px;
        font-weight: 400;
    }

    .action {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 16px;
        height: 100%;
        text-transform: uppercase;
        text-decoration: none;
        color: $color-accent;
        font-size: 18px;
    }
}
