@import '../../stylesheets/base';

.edit-activity {
    .header {
        display: flex;
        align-items: center;
        padding: 0 16px;
        height: 56px;
        color: $color-primary;
        font-size: 18px;
    }

    .form {
        display: flex;
        flex-direction: column;

        .form-item {
            margin: 4px 16px;
        }

        .footer {
            display: flex;
            justify-content: space-between;
            margin: 4px 16px;
        }
    }
}

:global {
    .confirm {
        width: 80%;

        .ok-button.button-primary {
            background-color: #fff;
            color: #000;
        }
    }
}
