@import '../../stylesheets/base';

.edit-activity {
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 16px;
        height: 56px;

        .back-button {
            margin: 0;
            padding: 0;
            color: $color-primary;
            font-size: 16px;
        }

        h1 {
            margin: 0;
            text-transform: uppercase;
            color: $color-primary;
            font-size: 18px;
            font-weight: 200;
        }

        .padding {
            width: 16px;
        }
    }

    .form {
        display: flex;
        flex-direction: column;
        padding: 16px 0;

        .form-item {
            margin: 4px 16px;
        }

        .footer {
            display: flex;
            justify-content: flex-end;
            margin: 32px 16px 0;

            button {
                font-size: 14px;
            }
        }
    }
}
