@import '../../stylesheets/base';

.activity {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 16px;
        height: 56px;

        h1 {
            font-size: 24px;
            font-weight: 200;
        }

        a {
            padding: 0 8px;
            text-decoration: none;
            color: $color-accent;
            font-size: 16px;
        }
    }

    .item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 16px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.08);
        padding: 8px 0;
        text-decoration: none;
        color: inherit;

        .summary {
            .title {
                font-size: 18px;
            }

            .category {
                display: none;
            }

            .date {
                color: rgba(0, 0, 0, 0.5);
                font-size: 14px;
            }
        }

        .amount {
            font-family: $font-family-monospace;
            font-size: 24px;
        }

        &.income {
            .amount {
                color: $color-success;
            }
        }

        &.expense {
            .amount {
                color: $color-warning;
            }
        }
    }
}
